body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
}

code {
  font-family: 'Bai Jamjuree', sans-serif;
}

html, #root{
  height: 100%;
  font-family: 'Bai Jamjuree', sans-serif;
}

#root {
  display: flex;
  font-family: 'Bai Jamjuree', sans-serif;
}

